<ion-content [fullscreen]="true">
    <div class="app_background">
        <div class="background_image">
            <img src="assets/images/background.png" alt="background_image" />
        </div>
        <div class="card_container">
            <div class="div_card">
                <ion-card-header>
                    <ion-card-title align="left">Custom Dropdown</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col class="dropdown_column">
                            <div class="dropdown" (click)="toggleShow()">
                                <div class="arrow_div">
                                    <img
                                        class="arrow-image"
                                        [class.rotateimg180]="notShowingDropdownItems"
                                        alt="arrow"
                                        src="assets/images/chevron.svg"
                                    />
                                </div>
                                <div class="dropbtn" type="button">{{ currentOption}}</div>
                                <div id="myDropdown" class="dropdown_content">
                                    <div
                                        *ngFor="let option of options; let i = index;"
                                        (click)="handleChange(option)"
                                    >
                                        <div
                                            [class.dropdown__item_selected]="option == currentOption"
                                        >
                                            {{option}}
                                        </div>
                                        <div *ngIf="option == currentOption" class="check_image">
                                            <img alt="arrow" src="assets/images/check.svg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ion-label class="selected_option_text" align="left"
                                >Selected: {{ currentOption }}</ion-label
                            >
                        </ion-col>
                        <ion-label class="splitter"></ion-label>
                        <ion-col align="left" class="hint_text">
                            <ion-label>This is a design example!!!!!</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </div>
        </div>
    </div>
</ion-content>
